* {
    padding: 0;
    margin: 0;
    box-sizing: border-box 
}
html {
    font-size: 62.5%;
}
container {
    display: flex;
}
#image {
    width: 34%;
    height: 800px;
    background-image: url("images/bkgr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.logo-bkgr {
    position: relative;
    top: 50%;
    background-color: black;
    opacity: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.logo {
    height: 50px;
    margin-right: 10px;
}
#logo-name{
    color:azure;
    font-family: 'Nova Square', sans-serif;
    font-size: 25px;
}
.image-attr {
    background-color: azure;
    opacity: 50%;
    margin-top: auto;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}
#form-sec {
    width: 66%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#intro,
#form-fields {
    padding: 25px;
}
#btn {
    padding: 25px 25px 10px;
}
#log-in {
    padding: 0 25px;
}
#intro {
    font-size: 2rem;
}
#intro p:first-of-type {
    margin-bottom: 15px;
}
#log-in {
    font-size: 1.5rem;
}
#log-in a {
    color: coral;
}
#form-fields {
    border-top: 1px lightslategray solid;
    border-bottom: 1px lightslategray solid;
    margin: 15px 0;
    background-color: ghostwhite;
    box-shadow:0 5px 10px -3px lightslategray;
}
#form-container {
    display: flex;
}
#left,
#right {
    display: flex;
    flex-direction: column;
}
#left{
    margin-right: 50px;
}
label {
    text-transform: uppercase;
    margin: 5px 0;
    font-family: 'Nova Square', sans-serif;
}
input {
    margin-bottom: 10px;
    border: 1px solid lightslategray;
    padding: 4px;
    border-radius: 4px;
    background-color: ghostwhite;
}
input::placeholder {
    color: lightslategray;
}
input:invalid {
    border: 1px solid lightcoral;
}
input:valid {
    border: 1px solid lightseagreen;
}
input:focus {
    box-shadow:0 0 3px 1px lightslategray;
    border: 1px solid cornflowerblue;
    outline: 0;
}
button {
    font-size: 2rem;
    background-color: cornflowerblue;
    padding: 10px;
    font-family: 'Nova Square', sans-serif;
    border-radius: 4px;
    border: 1px solid lightslategray;
    box-shadow:0 0 3px 1px lightslategray;
    text-transform: uppercase;
}
button:hover {
    box-shadow:0 0 10px 3px lightslategray;
}